.menu-main-menu-container{
	display: inline-block;
}

.header-cart {
    position: relative;
    top: initial;
}

.vendd-full-width-html-structure #info-bar {
    min-height: 84px;
    background-color: $primary-color;
}

.secondary-navigation a {
    color: $purewhite;
}

.secondary-navigation a:hover {
    color: $darkgray;
}

